button {
	cursor: pointer;

	&:disabled {
		cursor: default;
	}
}

.button--link {
	background-color: transparent;
	border-color: transparent;
	color: $blue;

	&:hover,
	&:active,
	&:focus {
		background-color: transparent;
	}
}

.button--secondary {
	background-color: $yellow;
	border-color: $dark-yellow;

	&:hover,
	&:active,
	&:focus {
		background-color: scale-color($yellow, $lightness: -5%);
	}
}

.button--header {
	background-color: $dark-gray;
	border-color: scale-color($dark-gray, $lightness: -20%);
	border-top-color: scale-color($dark-gray, $lightness: 15%);
	color: $white;

	&:hover,
	&:active,
	&:focus {
		background-color: scale-color($dark-gray, $lightness: 5%);
	}

	&:active {
		border-bottom-color: scale-color($dark-gray, $lightness: 5%);
		border-top-color: scale-color($dark-gray, $lightness: -20%);
	}
}

.button--icon {
	font-size: 0;
}
