button {
	cursor: pointer;

	&:disabled {
		cursor: default;
	}
}

.button--link {
	background-color: transparent;
	border-color: transparent;
	color: $blue;

	&:hover,
	&:active,
	&:focus {
		background-color: transparent;
	}
}

.button--secondary,
.formosa-button--toggle-password {
	background: $lightest-pink;
	border-color: scale-color($lightest-pink, $lightness: -5%);

	&:hover,
	&:active,
	&:focus {
		background: scale-color($lightest-pink, $lightness: -2.5%);
		border-color: scale-color($lightest-pink, $lightness: -7.5%);
	}

	&[disabled] {
		border-color: $formosa-input-border-color;
	}

	& + .button--secondary {
		margin-left: 4px;
	}
}

.button--tertiary {
	background-color: $yellow;
	border-color: $dark-yellow;

	&:hover,
	&:active,
	&:focus {
		background-color: scale-color($yellow, $lightness: -5%);
	}
}

.button--header {
	background-color: $dark-gray;
	border-color: scale-color($dark-gray, $lightness: -20%);
	border-top-color: scale-color($dark-gray, $lightness: 15%);
	color: $white;

	&:hover,
	&:active,
	&:focus {
		background-color: scale-color($dark-gray, $lightness: 5%);
	}

	&:active {
		border-bottom-color: scale-color($dark-gray, $lightness: 5%);
		border-top-color: scale-color($dark-gray, $lightness: -20%);
	}
}

.formosa-button.button--small {
	padding: 4px 8px 0;
}

.formosa-button.formosa-postfix {
	display: inline-block;
	padding-bottom: #{$formosa-input-padding - 3px};
	padding-top: $formosa-input-padding;
}

.button--icon {
	font-size: 0;
}
