button {
	cursor: pointer;

	&:disabled {
		cursor: default;
	}
}

.button--link {
	background-color: transparent;
	border-color: transparent;
	color: $blue;

	&:hover,
	&:active,
	&:focus {
		background-color: transparent;
	}
}

.button--secondary {
	background-color: $yellow;
	border-color: $dark-yellow;

	&:hover,
	&:active,
	&:focus {
		background-color: scale-color($yellow, $lightness: -5%);
	}
}
