$breakpoint: 800px;

.formosa-field--serving_size {
	input + input {
		margin-left: 8px;
	}
}

.flex {
	display: flex;
}

#front-image {
	display: inline-block;
	font-size: 0;
}

.center {
	text-align: center;
}

@media screen and (min-width: $breakpoint) {
	.food-relationships {
		display: flex;
		margin-left: -8px;
		margin-right: -8px;
		margin-top: $margin;
	}

	.food-relationships__section {
		margin-left: 8px;
		margin-right: 8px;
		width: 50%;
	}
}
