.formosa-message,
.formosa-toast {
	border-radius: $formosa-input-border-radius;
}

.formosa-postfix {
	background: $light-pink;
	border-color: scale-color($light-pink, $lightness: -5%);

	&:hover,
	&:active,
	&:focus {
		background: scale-color($light-pink, $lightness: -10%);
		border-color: scale-color($light-pink, $lightness: -15%);
	}

	&[disabled] {
		border-color: $formosa-input-border-color;
	}
}

.formosa-autocomplete,
.formosa-button,
.formosa-field__input,
.formosa-file-input-wrapper {
	border-bottom-width: $button-border-bottom-width;
}

.formosa-button,
.formosa-field__input,
.formosa-file-input-wrapper {
	padding-bottom: #{$formosa-button-padding - $button-border-bottom-width};
}

input.formosa-autocomplete__input {
	padding: 10px 10px #{$formosa-button-padding - $button-border-bottom-width};
}

a.formosa-button {
	text-decoration: none;
}

.formosa-field--read-only .formosa-field__input,
[disabled] {
	background-color: $lightest-gray;
	color: $dark-gray;
}

.formosa-suffix {
	padding-left: 4px;
	position: static;
}

.formosa-responsive {
	margin-top: $margin;

	& > :first-child {
		.formosa-label-wrapper,
		.formosa-input-wrapper {
			padding-top: 0;
		}
	}
}

.formosa-autocomplete__options {
	box-shadow: 0 0 10px rgba($black, .2);
}

.formosa-input-inner-wrapper {
	white-space: nowrap;
}
