.formosa-message,
.formosa-toast {
	border-radius: $formosa-input-border-radius;
}

.formosa-autocomplete,
.formosa-button,
.formosa-field__input,
.formosa-file-input-wrapper {
	border-bottom-width: $button-border-bottom-width;
}

.formosa-button,
.formosa-field__input,
.formosa-file-input-wrapper {
	padding-bottom: #{$formosa-button-padding - $button-border-bottom-width + 3px};
}

input.formosa-autocomplete__input {
	padding: 10px 10px #{$formosa-button-padding - $button-border-bottom-width + 3px};
}

.formosa-autocomplete__value,
.formosa-autocomplete__option__button {
	.verified {
		margin-left: 8px;
		vertical-align: middle;
	}
}

a.formosa-button {
	text-decoration: none;
}

.formosa-field--read-only .formosa-field__input,
[disabled] {
	background-color: $lightest-gray;
	color: $dark-gray;
}

.formosa-suffix {
	padding-left: 4px;
	position: static;
}

.formosa-responsive {
	margin-top: $margin;

	& > :first-child {
		.formosa-label-wrapper,
		.formosa-input-wrapper {
			padding-top: 0;
		}
	}
}

.formosa-autocomplete__options {
	box-shadow: 0 0 10px rgba($black, .2);
}

.formosa-input-inner-wrapper {
	white-space: nowrap;
}

.formosa-responsive > .formosa-field {
	.formosa-label-wrapper--checkbox {
		.formosa-label {
			padding-top: 5px;
		}
	}
}

.formosa-autocomplete__value {
	margin: 5px $formosa-input-padding 4px;
	padding-left: 0;
	padding-right: $formosa-autocomplete-value-height;
}

.formosa-autocomplete__value--input {
	margin: 0;
}
