.formosa-message,
.formosa-toast {
	border-radius: $formosa-input-border-radius;
}

.formosa-postfix {
	background: $light-pink;
	border-color: scale-color($light-pink, $lightness: -5%);

	&:hover,
	&:active,
	&:focus {
		background: scale-color($light-pink, $lightness: -10%);
		border-color: scale-color($light-pink, $lightness: -15%);
	}
}

.formosa-button,
.formosa-field__input,
.formosa-file-input-wrapper {
	border-bottom-width: 4px;
	padding-bottom: #{$formosa-button-padding - 4px};
}

a.formosa-button {
	text-decoration: none;
}

.formosa-field--read-only .formosa-field__input,
[disabled] {
	background-color: $lightest-gray;
	color: $dark-gray;
}

.formosa-suffix {
	padding-left: 4px;
	position: static;
}

.formosa-responsive {
	margin-top: $margin;
}
