@use '../utilities/variables';

#search-container {
	align-items: center;
	display: flex;
	position: relative;

	input {
		padding-right: variables.$button-size;
	}

	label {
		margin-right: 8px;
	}

	svg {
		bottom: 0;
		height: variables.$button-size;
		margin-top: 0;
		padding: 12px;
		position: absolute;
		right: 0;
		top: 0;
		width: variables.$button-size;

		path {
			fill: variables.$gray;
		}
	}
}
