table {
	border-collapse: collapse;
	border-color: $lightest-gray;
	border-style: solid;
	border-width: 1px;
	margin: $margin #{-1 * $article-padding} 0;
	width: calc(100% + #{$article-padding * 2});

	td {
		border-color: $lightest-gray;
		border-style: solid;
		border-width: 1px 0 0;
		padding: $table-cell-padding #{$table-cell-padding * 2};
	}

	th {
		padding: 0;
	}

	tbody {
		tr:nth-of-type(odd) {
			background-color: $white;
		}
	}

	.formosa-field {
		margin-top: 0;
	}

	@media screen and (min-width: $max-width) {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	@media screen and (min-width: $breakpoint) {
		td {
			padding: $table-cell-padding $margin;
		}
	}
}

th {
	border-color: $yellow;
	border-style: solid;
	border-width: 0 0 4px;

	tfoot & {
		border-width: 4px 0 0;
	}
}

.table-heading {
	display: block;
	height: $button-size;
	line-height: $button-size;
}

.column--button {
	padding-left: 0;
	padding-right: 0;
	white-space: nowrap;
	width: $button-size;
}

.column--button-large {
	padding-left: 0;
	padding-right: 0;
	white-space: nowrap;
	width: #{$button-size * 2};
}

.column--name {
	width: 100%;
}

.column--size {
	min-width: 72px;
	white-space: nowrap;
	width: 72px;
}

.column--units {
	min-width: 147px;
	white-space: nowrap;
	width: 147px;
}

.column--trackables {
	padding: 0;

	tbody & {
		position: relative;
	}
}

.trackable-list {
	display: flex;

	tbody & {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	@media screen and (max-width: ($breakpoint - 1px)) {
		overflow: auto;
	}
}

.trackable-item {
	align-items: center;
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	justify-content: center;
	min-width: 0;

	#diary-table & {
		.formosa-input-wrapper {
			margin: 0;
		}
	}

	.formosa-field__input {
		margin: 0 8px;
		width: calc(100% - 16px);
	}

	thead & {
		padding-left: 4px;
		padding-right: 4px;
	}

	thead &,
	tfoot & {
		@media screen and (min-width: $breakpoint) {
			background: transparent !important; // stylelint-disable-line declaration-no-important
		}
	}
}

.column--serving {
	min-width: 209px;
	white-space: nowrap;
	width: 209px;
}

.table-link {
	display: block;
	padding: 12px 0;

	.verified {
		margin-left: 8px;
	}
}

.table-button {
	background: transparent;
	border: 0;
	border-radius: 0;
	color: $black;
	font-weight: bold;
	height: $button-size;
	padding: 0 0 0 12px;
	white-space: nowrap;
	width: 100%;
}

.caret {
	margin-left: 4px;
	white-space: nowrap;

	&.flip {
		transform: scaleY(-1);
	}

	&.hide {
		visibility: hidden;
	}
}

@media screen and (max-width: ($breakpoint - 1px)) {
	#food-list {
		.column--name {
			width: calc(100% - 44px);
		}
	}

	.responsive-table {
		margin-bottom: -$article-padding;

		thead {
			.column--name,
			.column--serving,
			.column--button,
			.column--button-large,
			.column--size,
			.column--units {
				display: none;
			}
		}

		td {
			border-width: 0;
		}

		.table-button {
			padding: 0;

			.caret {
				display: none;
			}
		}

		.column--name {
			display: inline-block;
			padding-bottom: 0;
			padding-top: 0;
			width: 100%;
		}

		.column--serving {
			display: inline-block;
			padding-top: 0;
			width: calc(100% - #{$button-size * 2});
		}

		.column--size {
			color: $dark-gray;
			display: inline-block;
			font-size: 14px;
			margin-left: #{$button-size + ($table-cell-padding * 2)};
			margin-top: -6px;
			min-width: 0;
			padding: 0 0 12px;
			text-align: right;
			width: auto;

			&::before {
				content: '(';
			}
		}

		.column--units {
			color: $dark-gray;
			display: inline-block;
			font-size: 14px;
			margin-top: -6px;
			min-width: 0;
			padding: 0 0 12px;
			width: auto;

			&::after {
				content: ')';
			}

			&:not(:empty) {
				margin-left: 4px;
			}
		}

		.column--button {
			display: inline-block;
			padding-bottom: 0;
			padding-top: 0;
			width: $button-size;
		}

		.column--button-large {
			display: inline-block;
			padding-bottom: 0;
			padding-top: 0;
			width: #{$button-size * 2};
		}

		.column--trackables {
			display: inline-block;
			min-height: 32px;
			width: 100%;
		}

		tbody {
			.column--trackables {
				border-bottom-color: $dark-gray;
				border-bottom-width: 1px;
			}
		}

		tfoot {
			th:empty {
				display: none;
			}
		}
	}
}
