@use 'sass:color';

/* Colors. */

$white: #fff;
$off-white: #f9f9f9;
$lightest-gray: #ddd;
$gray: #999;
$dark-gray: #444;
$darkest-gray: #222;
$black: #000;

$blue: #06c;

$pink: #f38;
$light-pink: color.scale($pink, $lightness: 70%, $saturation: -25%);
$lightest-pink: #f9e2ec;

$yellow: #fd0;
$muted-yellow: color.scale($yellow, $lightness: 30%, $saturation: -20%);
$lightest-yellow: color.scale($yellow, $lightness: 95%);
$dark-yellow: color.scale($yellow, $lightness: -10%, $saturation: -20%);

$red: #c33;
$dark-red: color.scale($red, $lightness: -20%, $saturation: -25%);

$border-color: color.scale($pink, $lightness: -20%, $saturation: -25%);

/* Sizes. */

$body-background-color: $off-white;
$button-border-bottom-width: 4px;
$button-size: 44px;
$article-padding: 16px;
$heading-inner-padding: 16px;
$font-size: 16px;
$margin: 20px;
$max-width: 1200px;
$nav-height: $button-size;
$table-cell-padding: 6px;

$modal-background-color: $off-white;
$modal-button-margin-side: 8px;
$modal-button-margin-top: 20px;
$modal-container-background-color: rgba($black, .6);
$modal-input-background-color: $white;
$modal-margin: 32px;
$modal-max-width: 800px;
$modal-padding: 32px;
$modal-text-color: $black;
$modal-zindex: 9999;

/* Breakpoints. */

$breakpoint: 800px;
