#footer {
	bottom: 0;
	order: 2;
}

#nav {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.nav__button,
.nav__link {
	color: $white;
	height: $nav-height;
}

.nav__link {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	text-decoration: none;

	& + .nav__link {
		margin-left: 2px;
	}
}

.nav__link--active {
	background: $body-background-color;
	color: $black;
}
