@use 'sass:math';
@import 'utilities/variables';
@import 'normalize.css/normalize';
@import '@jlbelanger/formosa/src/style';
@import 'layout/typography';
@import 'layout/main';
@import 'layout/header';
@import 'layout/content';
@import 'layout/nav';
@import 'layout/footer';
@import 'components/add-another';
@import 'components/button';
@import 'components/calendar';
@import 'components/chart';
@import 'components/contain';
@import 'components/diary';
@import 'components/favourite';
@import 'components/food';
@import 'components/formosa';
@import 'components/heading';
@import 'components/hr';
@import 'components/icon';
@import 'components/link';
@import 'components/meal';
@import 'components/modal';
@import 'components/nutrition-facts';
@import 'components/pagination';
@import 'components/password';
@import 'components/radio';
@import 'components/search';
@import 'components/skip';
@import 'components/table';
@import 'components/verified';

.post-alert-button {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: -$formosa-input-border-radius;
	padding-top: 0;
	text-align: right;
}
