@use 'sass:math';
@import './node_modules/normalize.css/normalize';
@import 'utilities/variables';
@import './node_modules/@jlbelanger/formosa/src/style';
@import 'layout/layout';
@import 'layout/header';
@import 'layout/footer';
@import 'components/buttons';
@import 'components/calendar';
@import 'components/chart';
@import 'components/diary';
@import 'components/favourite';
@import 'components/food';
@import 'components/formosa';
@import 'components/headings';
@import 'components/hrs';
@import 'components/links';
@import 'components/meal';
@import 'components/nutrition-facts';
@import 'components/pagination';
@import 'components/search';
@import 'components/skip';
@import 'components/radio-lists';
@import 'components/tables';
@import 'components/verified';

p {
	line-height: 1.5;
	margin: $margin 0 0;
}

svg {
	pointer-events: none;
}

.formosa-field--add-another {
	font-size: 16px;
	margin-left: 8px;
	margin-top: 0;
}

.formosa-password-wrapper {
	display: flex;
}
